<header>
    <div class="div-header">
        <span> TIME: </span>
        <span id='time'> 
            The time is :
        </span>
        <label>User: </label><label class="links"><a href=""> Log Out</a></label>
    </div>
</header>