<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget Keeper | Login</title>
    <!-- <link rel="stylesheet" href="/stylesheets/BK-style.css"> -->
</head>
<body>
    <div class="div-info">
        <form method="POST" action="home">
            <input type="text" name="username" placeholder="Username" value="tester"><br><br>
            <input type="password" name="password" placeholder="Password" value="1234"><br><br>
            <input type="submit" value="Log in">
        </form>
        <br><br>
        <label class="links"><a href="./signUp">Create Account</a></label>
    </div>
</body>
</html>